:root {
    --background-color: rgb(32, 32, 32);
    --foreground-color: rgb(128, 128, 128);

    background-color: var(--background-color);
}

* {
    pointer-events: none;
    font: 100% serif;
    text-wrap: nowrap;
    color: rgb(255, 255, 255);
}

body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

#contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    z-index: 0;
}

#view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    z-index: 0;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#control-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 00%);
    padding: 10px;
    height: 5%;
    max-width: 100%;
    max-height: 80px;
    aspect-ratio: 12 / 1;
    z-index: 1;
}

#tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    padding: 10px;
    height: 5%;
    max-width: 100%;
    max-height: 80px;
    aspect-ratio: 12 / 1;
    z-index: 2;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#tool-bar > div, #control-bar > div {
    pointer-events: auto;
    flex: 1;
    text-align: center;
    font-size: 125%;
    border-radius: 10px;
}

#import,
#import-chooser,
#export {
    pointer-events: auto;
    padding: 5px 30px;
    border-radius: 5px;
}

#tool-bar > div:active,
#control-bar > div:active,
#import:active,
#import-chooser:active,
#export:active {
    background-color: var(--foreground-color);
}