:root {
    --background-color: rgb(32, 32, 32);
    --foreground-color: rgb(96, 96, 96);

    background-color: var(--background-color);
}

body {
    user-select: none;
    -webkit-user-select: none;
}

#border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    overflow: hidden;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
}

#view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
}

#control-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 00%);
    aspect-ratio: 8 / 1;
    height: 10%;
    max-width: 100%;
    max-height: 80px;
}

#tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    aspect-ratio: 8 / 1;
    height: 10%;
    max-width: 100%;
    max-height: 80px;
}

#tool-bar > div, #control-bar > div {
    flex: 1;
    text-align: center;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

#tool-bar > div:active, #control-bar > div:active {
    background-color: var(--foreground-color);
}