:root {
    color-scheme: light dark;

    --background-color: light-dark(rgb(224, 224, 224), rgb(32, 32, 32));
    --foreground-color: light-dark(rgb(192, 192, 192), rgb(64, 64, 64));

    background-color: var(--background-color);
}