:root {
    color-scheme: light dark;
    --main-bg-color: light-dark(rgb(224, 224, 224), rgb(32, 32, 32));
    --main-fg-color: light-dark(rgb(192, 192, 192), rgb(64, 64, 64));
    --main-font-color: light-dark(rgb(64, 64, 64), rgb(192, 192, 192));

    background-color: var(--main-bg-color);
}

#content {
    pointer-events: none;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#canvas {
    pointer-events: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
}

#menu-top {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    justify-items: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 64px;
    padding: 1%;
}

#undo {
    grid-column: 1;
}

#redo {
    grid-column: 2;
}

#zoom-in {
    grid-column: 31;
}

#zoom-out {
    grid-column: 32;
}

#file {
    grid-column: 32;
}

#menu-bottom {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    justify-items: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 64px;
    padding: 1%;
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.borderless-button {
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.bordered-button {
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.borderless-button, .bordered-button {
    pointer-events: auto;
    width: 10%;
    min-width: 48px;
    max-width: 64px;
    aspect-ratio: 1 / 1;
    margin: 0.5%;
    text-align: center;
    font: 150% sans-serif;
    color: var(--main-font-color);
    transition: background-color 0.25s
}

.borderless-button:active, .bordered-button:active {
    background-color: var(--main-fg-color);
    transition: background-color 0s;
}