:root {
    --background-color: rgb(32, 32, 32);
    --foreground-color: rgb(128, 128, 128);

    background-color: var(--background-color);
}

* {
    pointer-events: none;
    font: 100% serif;
    text-wrap: nowrap;
    color: rgb(255, 255, 255);
}

html, body {
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    z-index: 0;
    overflow: hidden;
}

#view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1 / 1;
    z-index: 0;
}

#control-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    padding: 10px;
    height: 5%;
    max-width: 100%;
    max-height: 80px;
    aspect-ratio: 8 / 1;
    z-index: 1;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    padding: 10px;
    height: 5%;
    max-width: 100%;
    max-height: 80px;
    aspect-ratio: 8 / 1;
    z-index: 2;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#tool-bar > div, #control-bar > div {
    pointer-events: auto;
    flex: 1;
    text-align: center;
    font-size: 125%;
    border-radius: 10px;
}

#import,
#export,
#size {
    pointer-events: auto;
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
}

#import-chooser {
    pointer-events: auto;
    padding: 5px;
    border-radius: 5px;
}

#size-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
}

#size-contents > * {
    flex: 1;
}

#size-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#size-inputs > * {
    flex: 1;
}

#size-width-contents,
#size-height-contents {
    display: flex;
    align-items: center;
}

#size-width-contents > *,
#size-height-contents > * {
    flex: 1;
}

#size-width,
#size-height {
    pointer-events: auto;
    color: black;
}

#tool-bar > div:active,
#control-bar > div:active,
#import:active,
#export:active,
#size:active,
#import-chooser:active {
    background-color: var(--foreground-color);
}