:root {
    --background-color: rgb(32 32 32);
    --foreground-color: rgb(128 128 128);

    background-color: var(--background-color);
}

* {
    pointer-events: none;
    font: 100% serif;
    text-wrap: nowrap;
    color: rgb(255 255 255);
}

html, body {
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    z-index: 0;
    overflow: hidden;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
}

#view {
    pointer-events: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-height: 1080px;
    aspect-ratio: 1 / 1;
    z-index: 0;
    background-color: var(--background-color);
}

#control-bar {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    width: 800px;
    height: 5%;
    max-width: 90%;
    max-height: 80px;
    aspect-ratio: 8 / 1;
    z-index: 1;
}

#activity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    border-radius: 10px;
}

#undo,
#redo {
    pointer-events: auto;
    flex: 1;
    width: 30px;
    padding: 5px;
    text-align: center;
    font-size: 125%;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#transform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 10px;
}

#zoom,
#rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#translate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#zoom-out,
#zoom-in,
#rotate-left,
#rotate-right,
#center {
    pointer-events: auto;
    flex: 1;
    width: 30px;
    padding: 5px;
    text-align: center;
    font-size: 125%;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#tool-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    padding: 10px;
    height: 5%;
    max-width: 80%;
    max-height: 80px;
    aspect-ratio: 8 / 1;
    z-index: 2;
    border: thin solid var(--foreground-color);
    border-radius: 10px;
    background-color: var(--background-color);
}

#tool-bar > * {
    pointer-events: auto;
    flex: 1;
    text-align: center;
    font-size: 125%;
    border-radius: 10px;
}

#display,
#import,
#export,
#size {
    pointer-events: auto;
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
}

#display-grid-contents {
    display: flex;
    align-items: center;
}

#display-grid-contents > * {
    flex: 1;
}

#display-grid {
    pointer-events: auto;
}

#import-chooser {
    pointer-events: auto;
    padding: 5px;
    border-radius: 5px;
}

#size-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
}

#size-contents > * {
    flex: 1;
}

#size-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#size-inputs > * {
    flex: 1;
}

#size-width-contents,
#size-height-contents {
    display: flex;
    align-items: center;
}

#size-width-contents > *,
#size-height-contents > * {
    flex: 1;
}

#size-width,
#size-height {
    pointer-events: auto;
    color: black;
}

#undo:active,
#redo:active,
#zoom-out:active,
#zoom-in:active,
#rotate-left:active,
#rotate-right:active,
#center:active,
#tool-bar > *:active,
#display:active,
#import:active,
#export:active,
#size:active,
#import-chooser:active {
    background-color: var(--foreground-color);
}